@font-face {
    font-family: Tangerine;
    src: url(./assets/Tangerine-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Tangerine;
    src: url(./assets/Tangerine-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: vibes;
    src: url(./assets/GreatVibes-Regular.ttf);
}
